.wrapper {
  grid-area: topbar;
  background-color: var(--backgroundTretiaryColor);
  padding: 1rem;
  display: flex;
  align-items: center;

  .chipContainer {
    display: flex;
    align-items: center;
    flex: 1;
    margin: 0 1.5rem;
    gap: 15px;
  }

  .loginButton {
    background-color: transparent;
    border: 2px solid var(--fontProfit);
    color: var(--fontProfit);
    margin-left: 1.5rem;
  }

  .btnContainer {
    display: flex;
  }
}
